<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=$Title ?></title>
</head>
<body>
    <header>HEADER</header>
    <?=$Content ?>
    <div>
    <?=$Content2 ?>
    </div>
    <footer>FOOTER</footer>
</body>
</html>